@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none; box-sizing: border-box;}
/* .window-resizing *, body:not(.page-loaded) *{transition: none!important; } */
html, body { min-width: 320px; min-height: 100vh; }
body {margin: 0; font-size: 16px; line-height: 22px; font-family:-apple-system, BlinkMacSystemFont,'Open Sans', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}

a {transition: all 0.3s; color: #9C9C9C; text-decoration: none; }
a:hover,a:focus, a:active { color: #4b4b4b; text-decoration: none; }
/* h1, h2, h3, h4, h5, h6 { line-height: 1.2em;  } */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 {font-size: 40px;}
h2 {font-size: 35px; } 
h3 {font-size: 25px; }
h4 {font-size: 20px; }
h5 {font-size: 18px; }
h6 {font-size: 16px; }

input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #ffffff; font-size: 18px; font-weight: 400;line-height: 21px;}
::-moz-placeholder { color: #ffffff; }
:-ms-input-placeholder { color: #ffffff; }
:-moz-placeholder { color: #ffffff; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #9C9C9C; }
option:not(:checked) { color: black; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
::-ms-reveal {
  display: none;
} 

:root{
    --primary:#5AC4FF;
    --primarymain:#153D78;
    --primaryHover:#35598E;
    --secondary:#505050;
    --secondaryMain:#4B4B4B;
    --secondaryLight:#9C9C9C;
    --black:#000000;
    --white:#FFFFFF;
    --danger:#FF5555;
    --blue:#F4FBFF;
}

/* Login page starts
-------------------------------------------------------------------------------------------------------------------------- */
/* for password eye in ms edge */

.login{min-height: 100vh;display: flex; align-items: center; background: url(./assets/images/bg-image.jpg) no-repeat; background-position: center; background-size: cover;}
.login .login-container{display: flex; align-items: center;margin:auto;max-width: 1310px; padding: 20px;}
.mockup{text-align: center; padding-right: 20px;}
.mockup img{max-width: 100%; height: auto;}
.login-page{margin-left: auto ; padding: 40px 40px 30px; text-align: center; max-width: 435px;background-color:var(--white);box-shadow: 0px 4px 35px -4px rgba(0, 0, 0, 0.1);}
.forgot-line{display: flex; justify-content: space-between; align-items: center;}

/* main-container starts
-------------------------------------------------------------------------------------------------------------------------------- */
.main-outer{background-color: var(--blue);position: relative;}
.main-outer::before{content: ''; position: absolute; top: 0; left: 0;bottom: 0; right: 0;z-index: 1; margin: 0 auto; background-color: var(--primarymain); height: 200px;}
.main-container{margin:0 auto; max-width: 2000px; display: flex;min-height: 100vh;z-index: 2;position: relative;}
.wrapper-page{width: calc(100% - 294px); transition: all 0.5s ease;}
.page-content{padding: 0 30px 30px;}

/* Sidebar starts
-------------------------------------------------------------------------------------------------------------------------------- */
.sidebar{max-width: 264px;flex-grow: 0; flex-shrink: 0;flex-basis: 264px; transition: all 0.5s ease;z-index: 30; background-color: #fff;
  margin: 30px 0 0 30px;box-shadow: 0px 4px 35px -4px rgba(0, 0, 0, 0.1); border-radius: 3px;}
.sidebar .brand-logo{padding: 30px;position: sticky; top: 0;border-bottom: 1px solid rgba(0, 0, 0, 0.1);background-color: var(--white);}
.sidebar .brand-logo img{width: 168px; height: 36px;}
.sidebar .sidebar-content{padding: 30px;position: sticky; top: 100px;z-index: -1;}
.sidebar-content .profile{display: flex; align-items: center;margin-bottom: 30px;padding:3px}
.profile a{display: flex;align-items: center;width: 100%;}
.sidebar-content .profile:hover, .profile:focus, .profile:active{border-radius:5px; background-color:rgba(102, 100, 100, 0.2);cursor: pointer;}
.sidebar-content .profile img{margin-right: 13px;}
.profile-description p{font-weight: 600;text-align: center;}
.profile-description span{ color: #989898; text-align: center;}
.sidebar-content .active{background-color: var(--primarymain);}
.sidebar-content .sidelinks{display: flex;padding: 14px 15px; margin-bottom: 8px;border-radius: 3px;}
.sidebar-content .sidelinks p{white-space: nowrap; max-width: 100%; overflow: hidden; text-overflow: ellipsis; padding-left: 10px; color: var(--secondaryLight);font-size: 15px; font-weight: 400; line-height: 17px;letter-spacing: -0.01em;}
.sidebar-content .active p{padding-left: 10px; color: var(--white);}
.sidebar-content .sidelinks .default{display: block;} 
.sidebar-content .sidelinks .active-img{display: none;} 
.sidebar-content .active .default{display: none;} 
.sidebar-content .active .active-img{display: block; } 
.sidebar-content .sidelinks:not(.active):hover, .sidebar-content .sidelinks:not(.active):focus,.sidebar-content .sidelinks:not(.active):active {background-color: rgba(102, 100, 100, 0.2);}

/* Header starts
-------------------------------------------------------------------------------------------------------------------------------- */
.header{height: 101px;width: 100%; display: flex; padding: 30px 30px 0;position: sticky; top: 0;background-color: rgba(21, 61, 120, 0.9); backdrop-filter: blur(12px); z-index: 28;}
#brand-icon{display: none;}
.header .toggle-btn, .search-box .btn-close-search{display: none;}
.search-box{transition: margin 0.5s ease;}
.search-box .search-input{color: var(--white);font-family: 'Open Sans';transition: all 0.5s ease; font-size: 18px; font-weight: 400; line-height: 22px; padding: 12px 18px;width: 360px; background:var(--primaryHover) url(./assets/images/ic-search.svg) no-repeat;border-radius: 3px; border: 1px solid transparent ; background-position: right 16px center;}
.search-box .search-input:focus{width: 386px; transform: width 0.5s;}
.search-box .search-input:hover, .search-box .search-input:active{border: 1px solid #5ac4ff52;}

/* Dashboard page starts
-------------------------------------------------------------------------------------------------------------------------------- */
.img-fluid{max-width: 100%; height: auto;}
.page-title{display: flex;flex-wrap: wrap; align-items: center;justify-content: space-between;margin-bottom: 24px;}
.card{height:100%; background-color: #fff ;box-shadow: 0px 4px 35px -4px rgba(0, 0, 0, 0.1); border-radius: 3px;padding: 28px 30px 30px;}
.page-content .latest-sale{padding: 0;}
.curves-card{display: flex; flex-direction: column; padding:  0;}
.curves-card > img{height:219px ; z-index: 1;}
.card .statics-data{padding: 23px 0 30px;margin: 0 10px; text-align: center; display: flex; align-items: center; justify-content: space-between;}
.card .statics-data p, .nums-text p{font-size: 20px; font-weight: 600; line-height: 23px;color: var(--secondary);white-space: nowrap;}
.card-img-data{display: flex; align-items: center;text-align: left;}
.curves-card .card-img-data{padding-left: 30px;position:relative;bottom: 75px;margin-bottom: -45px; z-index: 2;}
.card-img-data img{margin-right: 20px;}
.card-head-line{display: flex; align-items: center;}
.page-content .latest-sale .card-head-line{display: flex; align-items: center;padding: 28px 18px 0 30px;}
.page-content .latest-sale ul{padding: 0 30px 30px;}
.card .data-graph{margin-top: 36px;}
.card-head-line .earning{margin-right: 50px;position: relative;}
.card-head-line .earning::before{content: '';position: absolute; width: 10px;height: 10px;top: 4px;bottom: 0;left: -16px;right: 0; background-color: var(--primarymain); border-radius: 50px;}
.card-head-line .expense{position: relative;}
.card-head-line .expense::before{content: '';position: absolute; width: 10px;height: 10px;top: 4px;bottom: 0;left: -16px;right: 0; background-color: var(--primary); border-radius: 50px;}
.card-head-line ul{display: flex;justify-content: flex-end; flex-wrap: wrap; margin-left: auto;}
.card-head-line .sales-menu{margin-left: auto;}
.card .profile-content{display: flex;align-items: center;padding: 26px 0 0;}
.latest-sale li:not(:last-child){border-bottom: 1px solid #eeeeee;padding-bottom: 26px;}
.profile-content .list-profile-image{margin-right: 16px;}
.table-dots{display: flex; align-items: center;}
.main-inner-card .prim-sec{display: flex; gap: 20px;}
.upload-content{display: flex; gap: 20px;}

/* Statistics page starts
-------------------------------------------------------------------------------------------------------------------------------- */
.main-inner-card{background-color: #fff; border-radius: 3px; box-shadow: 0px 4px 35px -4px rgba(0, 0, 0, 0.1);padding: 26px 30px 10px;}
.inner-head:not(:first-child){margin-top: 56px ;}
.main-inner-card .inner-head{margin-bottom: 26px ;}
.main-inner-card .inner-subhead{margin-bottom: 16px;}
.inner-subhead:not(:first-child){margin-top: 35px;}
.text-select{background: url(./assets/images/ic-select-arrow.svg) no-repeat; background-position: right 15px center;}
.textarea{background: url(./assets/images/ic-textarea.svg) no-repeat; background-position: right 16px bottom 16px;}
.main-inner-card .validation-notes{height: 100%;}
/* media queries
-------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width : 1399px) {}
@media (max-width : 1199px) {
  .card .statics-data-line{display: flex;padding: 23px 0 10px;} 
  .card .statics-data-line .statics-data {justify-content: space-between; width: 100%;padding: 0;}
  .card .statics-data-line .card-img-data{margin-left: 80px;flex-shrink: 0;}
}
@media (max-width : 899px) {
  /* login page ------------------------------------------------------------------- */
  .login-container{flex-direction: column;}
  .mockup img{display: none;}
  .mockup{margin-bottom: 24px; padding: 0;}
  .login-page{margin: auto; padding:30px 20px;}

  /* header ---------------------------------------------------------------------------- */
  .header{padding: 30px 22px 0}
  .header .toggle-btn{display: flex;}
  #brand-icon{display: block; background-color: #fff;height: 35px; width: 35px;border-radius:50px; margin-left:20px;text-align:center;}
  #brand-icon img{width:30px; height:30px; padding-top:5px;}

  /* sidebar--------------------------------------------------------------------------- */
  .sidebar{margin-left: -264px;opacity: 0.4;margin-top: 0;}
  .search-box .search-input {width: 100%;}
  .setStatus .sidebar{margin-left: 0;opacity: 1;}
  .setStatus .wrapper-page{width: 100%; margin-left: -264px;}  
  .setSearch .search-box {margin: 0; opacity: 1;position: fixed;top: 0;left: 0;right: 0;padding: 25px;z-index: 2; background-color: var(--primarymain);}
  .setSearch .btn-close-search{display: block;position: absolute;top: 32px;right: 10px; }
  .search-box{opacity: 0; margin-top: -100px;  position: fixed;top: 0;left: 0 ;right: 0;z-index: 3 ;border-radius: 5px; }
  .overlay {position: fixed;transition: all 0.2s ease;top: 0px;bottom: 0;left: 0;z-index: 29;visibility: hidden;
    background: rgba(0, 0, 0, 0.4);display: block;opacity: 0;right: 0;}
  .overlaysearch {position: fixed;transition: all 0.2s ease;top: 100px;bottom: 0;left: 0;z-index: 29;visibility: hidden;
    background: rgba(0, 0, 0, 0.4);display: block;opacity: 0;right: 0;}
  .setStatus .overlay {visibility: visible;opacity: 1;}
  .setSearch .overlaysearch {visibility: visible;opacity: 1;}
  .setSearch .search-box .search-input {width:calc(100% - 30px); margin-left: 0 ;border:2px solid var(--primary); transition: none;}

  /* dashboard page --------------------------------------------------------------------- */
  .page-content{padding: 0 22px 30px;}
  .card{padding:20px 18px;}
  .curves-card{padding: 0;}
  .curves-card .card-img-data{padding-left: 20px;}
  .wrapper-page{width: 100%;}
  .main-inner-card{padding: 20px 18px 10px;}
  .inner-head:not(:first-child){margin-top: 45px ;}
  .main-inner-card .inner-head{margin-bottom: 20px ;}
  .main-inner-card .inner-subhead{margin-bottom: 14px;}
  .inner-subhead:not(:first-child){margin-top: 30 px;}
}
@media (max-width : 599px) {
  .header{padding: 30px 18px 0}
  .page-content{padding: 0 18px 20px;}
  .login-form img{width: 170px;}
  .mockup{display: none;}
  .login-page{padding:20px 15px;}
  .card-head-line .earning{margin-right: 25px;}
  #brand-icon{ margin-left:10px;}

  .card .statics-data-line{display: flex; flex-direction: column; padding: 0;} 
  .card .statics-data-line .statics-data { padding: 23px 0 30px; width: auto; }
  .card .statics-data-line .card-img-data{margin: 0;}
}

/* Right to left language
------------------------------------------------------------------------------------------------------------------------------------------ */

/* Login page starts
-------------------------------------------------------------------------------------------------------------------------- */
.arb .mockup{padding-left: 20px; padding-right: 0;}
.arb .mockup img{transform: rotateY(180deg);}
.arb .login-page{margin-right: auto; }

/* Sidebar starts
-------------------------------------------------------------------------------------------------------------------------------- */
.arb .sidebar{margin: 30px 30px 0 0;}
.arb .sidebar-content .profile img{margin-left: 13px; margin-right: 0;}
.arb .sidelinks p{padding-right: 10px; padding-left: 0;}
.arb .active p{padding-right: 10px; padding-left: 0;}

/* Header starts
-------------------------------------------------------------------------------------------------------------------------------- */
.arb .search-box .search-input{background-position: left 15px center ;}

/* Dashboard page starts
-------------------------------------------------------------------------------------------------------------------------------- */
.arb .card-img-data{text-align: right;}
.arb .curves-card .card-img-data{padding-right: 30px; padding-left: 0;}
.arb .card-img-data img{margin-left: 20px; margin-right: 0;}
.arb .card-head-line .earning{margin-left: 50px; margin-right: 0;}
.arb .card-head-line .earning::before{right: -16px; left: 0;}
.arb .card-head-line .expense::before{right: -16px; left: 0;}
.arb .card-head-line ul{margin-right: auto; margin-left: 0;}
.arb .latest-sale .card-head-line{padding: 28px 30px 0 18px;}
.arb .card-head-line .sales-menu{margin-right: auto; margin-left: 0;}
.arb .profile-content .list-profile-image{margin-left: 16px; margin-right: 0;}

/* Statistics page starts
-------------------------------------------------------------------------------------------------------------------------------- */
.arb .text-select{background-position: left 16px center;}
.arb .textarea{background-position: left 16px bottom 16px;background-image: url(./assets/images/ic-textarea-arb.svg);}

/* media queries
-------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width : 1399px) {}
@media (max-width : 1199px) {
  .arb .card .statics-data-line .card-img-data{margin-left: 0;margin-right: 80px;}

}
@media (max-width : 899px) {
    .arb .sidebar{margin-top: 0;}
    .arb .curves-card .card-img-data{padding-right: 20px; padding-left: 0;}
    .arb #brand-icon{margin-right: 20px; margin-left: 0;}
    .arb .sidebar{margin-right: -264px;margin-left: 0;}
    .arb.setStatus .sidebar{margin-left: 0;margin-right: 0;}
    .arb.setStatus .wrapper-page{margin-right: -264px; margin-left: 0;}
    .arb.setSearch .btn-close-search{left: 10px; right: auto;}

}
@media (max-width : 599px){
    .arb .card-head-line .earning{margin-left: 25px; margin-right: 0;}
    .arb #brand-icon{margin-right: 10px; margin-left: 0;}

    .arb .card .statics-data-line .card-img-data{margin: 0;}

}