/* body{direction: rtl;} */
/* Login page starts
-------------------------------------------------------------------------------------------------------------------------- */
.arb .mockup{padding-left: 20px; padding-right: 0;}
.arb .login-page{margin-right: auto; margin-left: 0;}


/* main-container starts
-------------------------------------------------------------------------------------------------------------------------------- */



/* Sidebar starts
-------------------------------------------------------------------------------------------------------------------------------- */

.arb .sidebar-content .profile img{margin-left: 13px; margin-right: 0;}
.arb .sidelinks p{padding-right: 10px; padding-left: 0;}
.arb .active p{padding-right: 10px; padding-left: 0;}


/* Header starts
-------------------------------------------------------------------------------------------------------------------------------- */
.arb .search-box .search-input{background-position: left 15px center ;}

/* Dashboard page starts
-------------------------------------------------------------------------------------------------------------------------------- */
.arb .curves-card .card-img-data{padding-right: 30px; padding-left: 0;}
.arb .card-img-data img{margin-left: 20px; margin-right: 0;}

.arb .card-head-line .earning{margin-left: 50px; margin-right: 0;}
.arb .card-head-line .earning::before{right: -16px; left: 0;}
.arb .card-head-line .expense::before{right: -16px; left: 0;}
.arb .card-head-line ul{margin-right: auto; margin-left: 0;}
.arb .card-head-line .sales-menu{margin-right: auto; margin-left: 0;}

.arb .profile-content .list-profile-image{margin-left: 16px; margin-right: 0;}

/* Statistics page starts
-------------------------------------------------------------------------------------------------------------------------------- */
.arb .text-select{background-position: left 16px center;}
.arb .textarea{background-position: left 16px bottom 16px;}

/* media queries
-------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width : 1399px) {}
@media (max-width : 1199px) {}
@media (max-width : 899px) {
    .arb .curves-card .card-img-data{padding-right: 20px; padding-left: 0;}
    .arb #brand-icon{margin-right: 20px; margin-left: 0;}
    .arb .sidebar{margin-right: -264px;margin-left: 0;}
    .arb.setStatus .sidebar{margin-left: 0;margin-right: 30px;}
    .arb.setStatus .wrapper-page{margin-right: -294px; margin-left: 0;}
    .arb.setSearch .btn-close-search{left: 10px; right: 0;}
    /* .arb.setSearch .search-box .search-input{margin-right:0; } */

}
@media (max-width : 599px){
    .arb .card-head-line .earning{margin-left: 25px; margin-right: 0;}
    .arb #brand-icon{margin-right: 10px; margin-left: 0;}
}















